django~=3.1.1
djangorestframework~=3.12.1
psycopg2
faker
# text-unidecode, six, python-dateutil, faker
graphene-django
# promise, rx, graphql-core, unidecode, graphql-relay, aniso8601, graphene, singledispatch, graphene-django
